
.form-register{

    padding-bottom: 4%;
}

.text-login{

    width: 50%;
    margin-left: 28%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.tittle-login {

    text-align: center;
    font-size: 2.5em;
}

.log-text{
    font-size: 1.5em;
}

.btn-form{
    text-align: center;
}

.labelfor{
    padding-bottom: 4%;
    padding-top: 4%;
}

.labelpro{

    padding-bottom: 0;
}

.tablapro {

    padding-top: 4% !important;
}

.form-color{
    background: #72BB53;
}

.btnf {
padding-top: 4%;
}

.sub-tittle{

    font-size: 1.3em;
}

.btnf2{
    padding-top: 5%;
}

.btnjuz{

    padding-top: 42px;
}

.juz {
    padding-top: 6px;
}

.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.tableC{

    padding-top: 4%;
}

@media screen and (max-width:764px){

.banner {
    height: 160px;
}

}