.typef {
    padding-top: 5%;
}

.labelfor{
    padding-bottom: 4%;
    padding-top: 4%;
}

.btnf {
padding-top: 4%;
}

.rowtype {

    padding-top: 4%;
}

h1 {

    text-align: center;
}

.chk {
  font-size: 1.3em !important;
}

.liste{
  font-size: 1.4em;
}

.labelst{
  font-size:1.4em;
  padding-top: 5%;
}

.cancel{
  margin-left: 12px;
}

.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.tableC{

    padding-top: 1%;
}


