<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <h1>Actividades por estado</h1>
    </div>
</div>



<div class="row tableC">
    <div class="col-md-8 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th class="">Número del proceso</th>
                            <th>Fecha de la actividad</th>
                            <th class="hidden-xs">Nombre de la actividad</th>
                            <th class="hidden-xs">Nombre del proceso</th>
                            <th class="hidden-xs">Demandante</th>
                            <th class="hidden-xs">Demandado</th>
                            <th class="hidden-xs">ver</th>
                            
                            
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DataActivitiestate.Data">

                            <td class="">{{item.Number}}</td>
                            <td>{{item.Date}}</td>
                            <td class="hidden-xs">{{item.NameA}}</td>
                            <td class="hidden-xs">{{item.NameP}}</td>
                            <td class="hidden-xs">{{item.Applicant}}</td>  
                            <td class="hidden-xs">{{item.Defendant}}</td>                                                                                  
                            <td align="center">
                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>