<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!--<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="liMenu">
                    <img src="../assets/img/logo.jpg" alt="">
                    <span class="glyphicon glyphicon-align-justify IconMenu"></span>
                </li>
                <li class="MenuOption"><a href="#">REGISTER</a></li>
                <li class="dropdown OpcionAbout MenuOption">
                    <a class="dropdown-toggle" data-toggle="dropdown">THE SCIENTE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>

                <li class="dropdown OpcionAbout MenuOption">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACT <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li class="MenuOption"><a routerLink="login">LOG IN</a></li>
            </ul>
            <button class="btn btn-default-1 sh" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
    </div>


</nav>-->

<div class="men">
<div class="nav-side-menu">
    <div class="brand">Proceso júridico</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">


                
                

                <li  data-toggle="collapse" data-target="#config" class="collapsed active" id="prueba">
                  <a href="#config"><i class="fa fa-gift fa-lg"></i> Configuración<span class="arrow"></span></a>
                </li>                
                <ul class="sub-menu collapse" id="config">
                    <li><a routerLink="/users">Registro de usuarios</a></li>
                    <li><a routerLink="/permissions">Registros de permisos por rol</a></li>
                    <li><a routerLink="/customer">Registro de clientes</a></li>
                    <li><a routerLink="/court">Registro de juzgado</a></li>
                    <li><a routerLink="/town">Municipio</a></li>                    
                    <li><a routerLink="/steps">Crear proceso(Etapas)</a></li>                                  
                </ul>

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#" routerlink="register.component.html"><i class="fa fa-globe fa-lg"></i> Creación proceso júridico</a>
                </li>  



                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#" routerlink="myactivities.component.html"><i class="fa fa-car fa-lg"></i> Mis actividades proximas</a>
                </li>

                <li  data-toggle="collapse" data-target="#report" class="collapsed ">
                  <a href="#report"><i class="fa fa-gift fa-lg"></i> Reportes<span class="arrow"></span></a>
                </li>                
                <ul class="sub-menu collapse" id="report">
                    <li><a  routerLink="/activitiestate">Actividades por estados</a></li>
                    <li><a href="#">Todos los procesos</a></li>
                    <li><a routerLink="/r-responsable">Proceso responsable</a></li>                                
                </ul>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href=""><i class="fa fa-gift fa-lg"></i> Reportes Power BI</a>
                </li>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Permisos
                  </a>
                  </li>
            </ul>
     </div>
</div>
</div>





<router-outlet></router-outlet>

<!--<footer class="col-md-12 col-sm-12 col-xs-10">
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <ul class="UlFooter">
                <li class="FooterTitle">¿Why?</li>
                <li>Benefits</li>
                <li>The science</li>
                <li>References</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="UlFooter">
                <li class="FooterTitle">Need Help</li>
                <li>FAQ</li>
                <li>Contact Support</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="UlFooter">
                <li class="FooterTitle">Contact Us</li>
                <li>Benefits</li>
                <li>The science</li>
                <li>References</li>
            </ul>
        </div>
        <div class="col-md-2">
            <ul class="UlFooter">
                <li class="FooterTitle">redes</li>
                <li><img src="../assets/img/redes.jpg" alt=""></li>
            </ul>
        </div>

        <div class="col-md-2">
            <ul class="UlFooter">
                <li class="FooterTitle"></li>
                <li><img src="../assets/img/suscribe.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</footer>-->