<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <tabset>
            <tab heading="Auditoria">

                <h1>Auditoría</h1>

                <div class="row tableC">
                    <div class="col-md-9 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-offset-1">

                                <div class="panel panel-default panel-table">
                                    <div class="panel-body">
                                        <p-dataTable [value]="dataAuditoria" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DatosGrupos" selectionMode="single"
                                            (onRowSelect)="CargarDatos($event.data)">
                                            <p-column field="NombreUsuario" header="Uuario" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                            <p-column field="Accion" header="Acción" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                            <p-column field="Descripcion" header="Descripción" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                            <p-column field="FechaCreacion" header="Fecha de creación" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>

            <tab heading="Salario">

                <h1>Salario mínimo anual</h1>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2 ">
                        <label class="labelfor">Año:</label>
                        <input type="text" class="form-control" [(ngModel)]="SalarioObject.Ano" name="Ano">
                    </div>

                    <div class="col-md-4">
                        <label class="labelfor">Salario:</label>
                        <input type="text" class="form-control" [(ngModel)]="SalarioObject.Valor" name="Salario">
                    </div>
                </div>

                <div class="row btnf">
                    <div class="col-md-1 col-md-offset-2">
                        <button class="btn btn-success" (click)="GuardarSalario()" *ngIf="BotonActualizar==false">Guardar</button>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-default" (click)="CancelarSalario()" *ngIf="BotonActualizar==false">Cancelar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-md-offset-2">
                        <button class="btn btn-success" (click)="Actualizarsalario()" *ngIf="BotonActualizar==true">Actualizar</button>
                    </div>
                    <div class="col-md-1 cnl">
                        <button class="btn btn-default" (click)="CancelarSalario()" *ngIf="BotonActualizar==true">Cancelar</button>
                    </div>
                </div>


                <div class="row tableC ">
                    <div class="col-md-8 col-md-offset-2 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">


                                <p-dataTable [value]="dataSalario" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DatosGrupos" selectionMode="single"
                                    (onRowSelect)="CargarDatosSalario($event.data)">
                                    <p-column field="Ano" header="Año" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Valor" header="Salario" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                                <!--<table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>
                                            <th>Modificar</th>
                                            <th>Año</th>
                                            <th>Salario</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of dataSalario">
                                            <td align="center">
                                                <a class="btn btn-default" (click)="BotonActualizar = true; CargarDatosSalario(item.Valor,item.Valor,item.Ano)"><span class="fa fa-pencil"></span></a>
                                            </td>
                                            <td>{{item.Ano}}</td>
                                            <td>{{item.Valor}}</td>
                                        </tr>
                                    </tbody>
                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>

    </div>
</div>