<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <h1>Despachos judiciales</h1>


    </div>
</div>


<form #Court="ngForm">
    <div class="row usersf">
        <div class="col-md-9 col-md-offset-3 col-xs-offset-1">
            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="CourtObject.Name" name="Name" required>
                </div>
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Municipio</label>
                    <select class="form-control" [(ngModel)]="CourtObject.Town" name="Town" id="" required>
            <option  value="Abogado">Envigado</option>
        </select>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Juez</label>
                    <input type="text" class="form-control" [(ngModel)]="CourtObject.Court" name="Court" required>
                </div>
            </div>

            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" [disabled]="!Court.form.valid" (click)="RegisterCourt()">Guardar</button>
                    <button class="btn btn-default" (click)="Cancelar()">Cancelar</button>


                </div>
            </div>

        </div>
    </div>
</form>


<!--
<div class="row tableC">
    <div class="col-md-7 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th class="">Nombre</th>
                            <th>Municipio</th>
                            <th>Juez</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DataCourt.Data">
                            <td align="center">
                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                            </td>
                            <td class="">{{item.Name}}</td>
                            <td>{{item.Town}}</td>
                            <td class="hidden-xs">{{item.Court}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>-->