<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>


<div class="row">
    <div class="col-md-4 col-md-offset-6">
        <h1>Personas</h1>
    </div>
</div>

<form #Customer="ngForm">
    <div class="row customerf">
        <div class="col-md-9 col-md-offset-3 col-xs-offset-1">
            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Ingresar nombre y apellido *</label>
                    <input type="text" class="form-control" [(ngModel)]="PersonasObject.Nombre" name="Nombre">
                </div>
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Número de identidad *</label>
                    <input type="text" class="form-control" [(ngModel)]="PersonasObject.NumeroIdentidad" name="NumeroIdentidad">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Correo electrónico *</label>
                    <input type="text" class="form-control" [(ngModel)]="PersonasObject.Correo " name="Correo">
                </div>
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Dirección *</label>
                    <input type="text" class="form-control" [(ngModel)]="PersonasObject.Direccion" name="Direccion">
                </div>
            </div>


            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" *ngIf="BotonActualizar == false" (click)=" GuardarPersonas()">Guardar</button>
                    <button class="btn btn-success" *ngIf="BotonActualizar == true" (click)=" ActualizarPersonas()">Actualizar</button>
                    <button class="btn btn-default" (click)="Cancelar()">Cancelar</button>

                </div>
            </div>

        </div>
    </div>
</form>


<div class="row tableC">
    <div class="col-md-7 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <!--<table class="table table-striped table-bordered table-list">-->


                    <p-dataTable [value]="DataCustomer" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataCustomer" selectionMode="single"
                        (onRowSelect)="CargarPersona($event.data)">
                        <p-column field="NumeroIdentidad" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                        <p-column field="Nombre" header="Nombre completo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                        <p-column field="Correo" header="Correo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                        <p-column field="Direccion" header="Dirección" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    </p-dataTable>

                    <!--<thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th class="">Documento</th>
                            <th>Nombre del cliente</th>
                            <th class="hidden-xs">Correo</th>
                            <th class="hidden-xs">Dirección</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of DataCustomer">
                            <td align="center">
                                <a class="btn btn-default" (click)=CargarPersona(item.Nombre,item.NumeroIdentidad,item.Correo,item.Direccion,item.IdPersona)><span class="fa fa-pencil"></span></a>
                            </td>
                            <td class="">{{item.NumeroIdentidad}}</td>
                            <td>{{item.Nombre}}</td>
                            <td class="hidden-xs">{{item.Correo}}</td>
                            <td class="hidden-xs">{{item.Direccion}}</td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
</div>