<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <h1>Recibo de documentos</h1>
    </div>
</div>




<div class="row presentacionf">
    <div class="col-md-8 col-md-offset-4 col-xs-offset-1">
        <div class="row">
            <div class="col-md-4  col-xs-10">
                <label for="" class="labelfor">Fecha</label>
                <input type="date" class="form-control" name="">
            </div>

            <div class="col-md-4 btnf">
                <button class="btn btn-default">Subir archivo</button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4  col-xs-10">
                <label for="" class="labelfor">Lista de chequeo</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-xs-10">
                <input type="checkbox" value="1"> Plano general en el que figura el curso que seguirá la línea
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-xs-10">
                <input type="checkbox" value="1"> inventario de daños
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-xs-10">
                <input type="checkbox" value="1"> Estimativo del valor a indemnizr
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-xs-10">
                <input type="checkbox" value="1"> Certificado de matricula inmobiliaria
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  col-xs-10">
                <input type="checkbox" value="1"> Avalúo catastral
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <label for="" class="labelfor">Actividad</label>
                <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11 col-xs-11">
                <label class="labelfor" for="">Agendar actividad</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <select name="" id="" class="form-control">
            <option value="">Inspección judicial</option>
        </select>
            </div>

            <div class="col-md-1">
                <button class="btn btn-default" (click)="InputVisible = true">+</button>
            </div>



            <div class="col-md-3">
                <input type="date" class="form-control" name="Date">
            </div>

            <div class="col-md-3">
                <button class="btn btn-default">Agendar</button>
            </div>


        </div>
        
            <div class="row" *ngIf="InputVisible==true">
                <div class="col-md-3">
                    <label for="" class="labelfor">Agregar actividad</label>
                    <input type="text" class="form-control">
                </div>
            </div>


        <div class="row tableC">
            <div class="col-md-8 col-xs-9">
                <div class="panel panel-default panel-table">
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                    <th><em class="fa fa-cog"></em></th>
                                    <th>Nombre</th>
                                    <th class="hidden-xs">Actividad</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr *ngFor="let item of dataPresentacion.Data">
                                    <td align="center">
                                        <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                        <a class="btn btn-danger hidden-xs"><em class="fa fa-trash"></em></a>
                                    </td>
                                    <td>{{item.NameProcess}}</td>
                                    <td class="hidden-xs">{{item.Activity}}</td>
                                    <td>{{item.Date}}</td>


                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row btnf">
            <div class="col-md-3  col-xs-10">
                <button class="btn btn-success">Guardar</button>
                <button class="btn btn-default">Cancelar</button>

            </div>
        </div>

    </div>
</div>