<carousel class="car">
    <slide>
        <img src="../assets/img/1.jpg" class="carrusel" alt="First slide">
    </slide>
    <slide>
        <img src="../assets/img/1.jpg" class="carrusel" alt="Second slide">
    </slide>
    <slide>
        <img src="../assets/img/1.jpg" class="carrusel" alt="Third slide">
    </slide>
    <div class="carousel-caption ContenidoSlide">
        <p class="titulo-carousel">help you to find your employee personality insights
            <p>
                <div class="col-md-2 col-md-offset-4 col-xs-1 btn-home">
                    <a href="">
                                <button class="btn btn-default BotonVer">TRY IT NOW FOR FREE
</button>
                            </a>
                </div>
    </div>
</carousel>

 <div class="row cardDiv">
     <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail cardtext">
                    <img src="http://placehold.it/500x250/EEE">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail cardtext">
                    <img src="http://placehold.it/500x250/EEE">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail cardtext">
                    <img src="http://placehold.it/500x250/EEE">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                </div>
            </div>
        </div>
   
     </div>
        
 </div>

<div class="row textMid">
    <div class="col-xs-12 col-sm-6  col-md-12">
        <p class="Insights">Insights</p>
        <p class="Insights-text">Now you can check characteristics like Big Five, Values and Needs before a deep personality analysis
        </p>
    </div>
</div>


<div class="row cardDiv">
     <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail cardtext">
                    <img src="http://placehold.it/500x250/EEE">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail cardtext">
                    <img src="http://placehold.it/500x250/EEE">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail cardtext">
                    <img src="http://placehold.it/500x250/EEE">
                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                    </div>
                </div>
            </div>
        </div>
   
     </div>
        
 </div>

 <div class="row log">
    <div class="col-xs-12 col-sm-6 col-md-11 col-md-offset-1">
        <p class="logo">Used by 1,000,000 people worldwide
        </p>
    </div>
</div>

<div class="row log">
    <div class="col-xs-12 col-sm-6  col-md-2 col-md-offset-1">
        <img src="../assets/img/logo1.jpg" alt="">
    </div>

     <div class="col-xs-12 col-sm-6  col-md-2">
        <img src="../assets/img/logo2.jpg" alt="">
    </div>

    <div class="col-xs-12 col-sm-6  col-md-2">
        <img src="../assets/img/logo3.jpg" alt="">
    </div>
</div>


