<h1> Reporte de Log</h1>



<div class="row tableC">
    <div class="col-md-8 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th class="">Número del proceso</th>
                            <th>Tipo del proceso</th>
                            <th class="hidden-xs">Estado actual</th>
                            <th class="hidden-xs">Responsable</th>
                            <th class="hidden-xs">Fecha de la ultima actividad</th>
                            <th class="hidden-xs">Demandante</th>
                            <th class="hidden-xs">ver</th>
                            
                            
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="">1</td>
                            <td>Demanda</td>
                            <td class="hidden-xs">en proceso</td>
                            <td class="hidden-xs">Calle 34 # 43 a 34</td>
                            <td class="hidden-xs">14 de julio</td>  
                            <td class="hidden-xs">Alpina</td>                                                                                  
                            <td align="center">
                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>