

<h1>Mis actividades proximas</h1>



<div class="row tableC">
    <div class="col-md-8 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th class="">Número del proceso</th>
                            <th>Fecha de la actividad</th>
                            <th class="hidden-xs">Nombre de la actividad</th>
                            <th class="hidden-xs">Nombre del proceso</th>
                            <th class="hidden-xs">Demandante</th>
                            <th class="hidden-xs">Demandado</th>
                            <th class="hidden-xs">ver</th>
                            
                            
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td class="">1</td>
                            <td>14 de julio</td>
                            <td class="hidden-xs">Proceso</td>
                            <td class="hidden-xs">Proceso 1</td>
                            <td class="hidden-xs">Colanta</td>  
                            <td class="hidden-xs">Alpina</td>                                                                                  
                            <td align="center">
                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>