
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="row">
    <div class="col-md-4 col-md-offset-6">
        <h1>Permisos</h1>
    </div>
</div>



<form #Permissions="ngForm">
<div class="row usersf">
<div class="col-md-7 col-md-offset-5 col-xs-offset-1">
<div class="row">
    <div class="col-md-5  col-xs-10">
        <label for="" class="labelfor">Nombre</label>
        <input type="text" class="form-control" name="Name" [(ngModel)]="PermissionsObject.Name" required>
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <label class="labelfor" for="">Permisos</label>
    </div>
</div>
<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="MyActivities" value="1"  [(ngModel)]="PermissionsObject.MyActivities"> Mis actividades
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="MyPrices" value="2" [(ngModel)]="PermissionsObject.MyPrices"> Mis prcesos
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="Indeterminant" value="3" [(ngModel)]="PermissionsObject.Indeterminant"> Indeterminante
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="Users" value="4" [(ngModel)]="PermissionsObject.Users"> Registrar usuarios
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="Permissions" value="5" [(ngModel)]="PermissionsObject.Permissions"> Registar roles
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="Roles" value="6" [(ngModel)]="PermissionsObject.Roles"> Registrar permisos
    </div>
</div>

<div class="row">
    <div class="col-md-4  col-xs-10">
        <input type="checkbox" name="Customers" value="7" [(ngModel)]="PermissionsObject.Customers"> Registrar clientes
    </div>
</div>





<div class="row btnf">
    <div class="col-md-3  col-xs-10">
        <!-- [disabled]="!Permissions.form.valid" -->
            <button class="btn btn-success" (click)="Guardar()">Guardar</button>
            <button class="btn btn-default" (click)="Cancelar()">Cancelar</button>
        
    </div>
</div>

</div>
</div>
</form>