<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <h1>Sus proyectos</h1>
    </div>
</div>

<div class="row tableC">
    <div class="col-md-9 col-md-offset-2">
        <div class="row">
            <div class="col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-body">
                        <p-dataTable [value]="dataAuditoria" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DatosGrupos" selectionMode="single"
                            (onRowSelect)="CargarDatos($event.data)">
                            <p-column field="NombreUsuario" header="Contrato" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="Accion" header="Proyecto" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="Descripcion" header="Código proceso" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="FechaCreacion" header="Municipio" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="FechaCreacion" header="Juzgado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="FechaCreacion" header="Radico" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="FechaCreacion" header="Demandado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            <p-column field="FechaCreacion" header="Estado procesal" [filter]="true" filterPlaceholder="Buscar"></p-column>                           
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>