<div class="row">
    <div class="col-md-9 col-md-offset-3 col-xs-offset-1">
        <div class="row">
            <div class="col-md-11 col-xs-11">
                <label class="labelfor sub-tittle" for="">Información del proceso</label>
            </div>
        </div>
        <form #Register="ngForm">

            <div class="row">

                <div class="col-md-3  col-xs-10">
                    <label class="labelfor" for="">Código del proceso</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.NumeroProceso" name="NumeroProceso">
                </div>

                <div class="col-md-2  col-xs-10 juz">
                    <label class="labelfor" for="">Proyecto</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Proyecto" name="Proyecto" disabled>
                </div>

                <div class="col-md-1 btnjuz">
                    <button class="btn btn-default" (click)="Proyectos.show()"><span class="glyphicon glyphicon-search"></span></button>
                </div>

                <div class="col-md-2  col-xs-10 juz">
                    <label class="labelfor" for="">Demantante</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Demandante" name="Demandante" disabled>
                </div>

                <div class="col-md-2 btnjuz">
                    <button class="btn btn-default" (click)="DemandanteDocumento.show()"><span class="glyphicon glyphicon-search"></span></button>
                    <button class="btn btn-default" (click)="LimpiarDemandante()"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2 col-xs-10 juz">
                    <label class="labelfor" for="">Demandado</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Demandado" name="Demandado">
                </div>
                <div class="col-md-1 btnjuz">
                    <button class="btn btn-default" (click)="DemandadoModal.show()"><span class="glyphicon glyphicon-search"></span></button>
                </div>


                <div class="col-md-3  col-xs-10">
                    <label class="labelfor" for="">Radicado</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Radicado" name="Radicado">
                </div>

                <div class="col-md-3  col-xs-10">
                    <label class="labelfor" for="">Valor</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Valor" name="Valor" (blur)="AlgoritmoCuantia($event.target.value)">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-xs-10">
                    <label class="labelfor" for="">Cuantía</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Cuantia" name="Cuantia" disabled>
                </div>


                <div class="col-md-3 col-xs-10">
                    <label class="labelfor" for="">Municipio</label>
                    <select name="" id="" class="form-control" [(ngModel)]="ProcessObject.Municipio" name="Municipio" (change)="BuscarJuzgado($event.target.value); MunicipioCuantia($event.target.value)">
                        <option value="">Seleccione un municipio</option>
                        <option [value]="item.IdMunicipio" *ngFor="let item of datamunicipio">{{item.Nombre}}</option>
                    </select>
                </div>

                <div class="col-md-2 col-xs-10 juz">
                    <label class="labelfor" for="">Juzgado</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Juez" name="Juez" disabled>
                </div>

                <div class="col-md-1 btnjuz">
                    <button class="btn btn-default" (click)="JuzgadoCompetente.show()"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-10">
                    <label class="labelfor" for="">Juzgado de conocimiento</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.JuzgadoConocimiento" name="JuzgadoConocimiento" disabled
                        required>
                </div>


                <div class="col-md-3  col-xs-10">
                    <label class="labelfor" for="">Estimativo</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Estimativo" name="Estimativo">
                </div>

                <div class="col-md-3 col-xs-10">
                    <label class="labelfor" for="">Tipo de proceso</label>
                    <select (change)="ConsultarDatosxTipoProceso();ConsultarEstadosXTipoProceso();" [(ngModel)]="ProcessObject.IdTiposProcesos"
                        name="IdTiposProcesos" class="form-control">
                        <option value="">Seleccione el tipo de proceso</option>
                        <option [value]="item.IdTiposProcesos" *ngFor="let item of datatiproceso">{{item.Nombre}}</option>
                     </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2  col-xs-10 juz">
                    <label class="labelfor" for="">Responsable</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.Responsable" name="Responsable" disabled>
                </div>

                <div class="col-md-1 btnjuz">
                    <button class="btn btn-default" (click)="ResponsableModal.show()"><span class="glyphicon glyphicon-search"></span></button>
                </div>


                <div class="col-md-2  col-xs-10 juz">
                    <label class="labelfor" for="">Sucesor</label>
                    <input type="text" class="form-control" [(ngModel)]="ProcessObject.ResponsableSucesor" name="ResponsableSucesor" disabled>
                </div>

                <div class="col-md-1 btnjuz">
                    <button class="btn btn-default" (click)="ResponsableSucesor.show()"><span class="glyphicon glyphicon-search"></span></button>
                </div>

            </div>


            <div *ngIf="datacampos?.length != 0">
                <label class="labelfor sub-tittle" for="">Información del proceso</label>
            </div>


            <div class="row">
                <div class="col-md-3  col-xs-10" *ngFor="let item of datacampos">
                    <label class="labelfor" for="">{{item.CamposAdicionales.Nombre}}</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div *ngIf="dataestados?.length != 0">
                <label class="labelfor sub-tittle" for="">Información del proceso</label>

                <div *ngIf="dataestados?.length != 0" class="row tableC " style="padding-top: 0%;">
                    <div class="col-md-8 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Etapa</th>
                                            <th>Términos</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let item of dataestados">
                                            <td>
                                                <button class="btn btn-default" (click)="CargarDatosCheck(item.EstadosProcesales.Nombre, item.IdEstadosTipos)">Ver</button>
                                            </td>
                                            <td>
                                                <!--<input type="checkbox" (change)="CargarDatosCheck($event.target.checked, item.EstadosProcesales.Nombre, item.IdEstadosTipos)">{{item.EstadosProcesales.Nombre}}-->
                                                {{item.EstadosProcesales.Nombre}}
                                            </td>
                                            <td>{{item.EstadosProcesales.Terminos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" (click)="GuardarProcesoJuridico()">Guardar</button>
                    <button class="btn btn-default">Cancelar</button>

                </div>
            </div>

            <br>


            <!--MODAL JUZGADOS COMPETENTES -->

            <div class="modal fade" bsModal #JuzgadoCompetente="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
                aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Juzgados </h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="JuzgadoCompetente.hide()">
                               <span aria-hidden="true">&times;</span>
                                  </button>
                        </div>
                        <div class="modal-body">
                            <h4>Juzgado competente</h4>

                            <div class="row tableC">
                                <div class="col-md-12 col-xs-9">
                                    <div class="panel panel-default panel-table">
                                        <div class="panel-body">
                                            <p-dataTable [value]="datacompetente" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DatosGrupos"
                                                selectionMode="single" (onRowSelect)="CargarJuzgado($event.data)">
                                                <p-column field="Naturaleza" header="Naturaleza" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                <p-column field="Juez" header="Juez" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                <p-column field="Juzgado" header="Juzgado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <h4>Todos los juzgado</h4>


                            <div class="row tableC">
                                <div class="col-md-12 col-xs-9">
                                    <div class="panel panel-default panel-table">
                                        <div class="panel-body">
                                            <p-dataTable [value]="DataJuzgado" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataJuzgado" selectionMode="single"
                                                (onRowSelect)="CargarTodosLosJuzgados($event.data)">
                                                <p-column field="Nombre" header="Naturaleza" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                <p-column field="Juez" header="Juez" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                <p-column field="Juzgado1" header="Juzgado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                            </p-dataTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--DATOS QUEMADOOOOOS/////////////////////////////////////////////////////////////////////////-->



            <div class="row" *ngIf="ProcessObject.IdTipoProcesos==1">

                <!--etapas procesales-->

                <!--hostorial inicio-->
                <div class="row">
                    <div class="col-md-6">
                        <label class="labelfor" for="">Historial</label>
                        <button class="btn btn-primary" (click)="ModalHistorial.show()">Agregar historia</button>
                    </div>
                </div>

                <div class="row tableC">
                    <div class="col-md-10 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th class="hidden-xs">Cargo</th>
                                            <th>Obervación</th>
                                            <th>Fecha</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr *ngFor="let item of DataHistory">
                                            <td align="center">
                                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                                <a class="btn btn-danger hidden-xs"><em class="fa fa-trash"></em></a>
                                            </td>
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.cargo}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--historial final-->

                <!--pendiente inicio-->

                <div class="row">
                    <div class="col-md-6">
                        <label class="labelfor" for="">Pendiente</label>
                        <button class="btn btn-primary" (click)="ModalPendiente.show()">Agregar pendientes</button>
                    </div>
                </div>

                <div class="row tableC">
                    <div class="col-md-10 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th class="hidden-xs">Cargo</th>
                                            <th>Obervación</th>
                                            <th>Fecha</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr *ngFor="let item of DataPending">
                                            <td align="center">
                                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                                <a class="btn btn-danger hidden-xs"><em class="fa fa-trash"></em></a>
                                            </td>
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.cargo}}</td>
                                            <td>{{item.description}}</td>
                                            <td>{{item.date}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--pendiente final-->
            </div>


        </form>



    </div>
</div>


<!--modal historial-->

<div bsModal #ModalHistorial="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Historial</h4>
                <button type="button" class="close pull-right" (click)="ModalHistorial.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <label for="">Usuario</label>
                        <select class="form-control" name="" id="">
                            <option value="">Seleccione la identificación</option>    
                             <option [value]="item.IdUsuario" *ngFor="let item of datausuario">{{item.Documento}}</option>                                                 
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="">Codigo de proceso</label>
                        <select class="form-control" name="" id="">
                            <option value="">Seleccione la identificación</option>
                            <!--<option [value]="item.IdFormulario" *ngFor="let item of datausuario">{{item.CodProceso}}</option> -->
                            </select>
                    </div>
                    <div class="col-md-12">
                        <label for="">Fecha</label>
                        <input type="date" #FechaHistorial class="form-control">
                    </div>

                    <div class="col-md-12">
                        <label for="">Observación</label>
                        <textarea class="form-control" #ObservacionHistorial name="" id="" cols="20" rows="5"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="SaveHistory('Juan Higuita','Abogado',FechaHistorial.value, ObservacionHistorial.value)">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--final modal historial-->

<!--modal pendientes-->

<div bsModal #ModalPendiente="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Pendientes</h4>
                <button type="button" class="close pull-right" (click)="ModalPendiente.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <label for="">Fecha de recordatorio</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="col-md-12">
                        <label for="">Fecha</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <label for="">Observación</label>
                        <textarea class="form-control" #DescriptionPending name="" id="" cols="20" rows="5"></textarea>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="SavePending('Julian Calavaero','Administrador',DatePending.value, DescriptionPending.value)">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--final modal pendientes-->

<!--modal recibo de documento-->

<div bsModal #modalDocument="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Recibo de documentos</h4>
                <button type="button" class="close pull-right" (click)="modalDocument.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>{{ModalNombre}}</h1>
                    </div>
                </div>

                <div class="row presentacionf">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <div class="row">
                            <div class="col-md-4  col-xs-10">
                                <label for="" class="labelfor">Fecha</label>
                                <input type="date" class="form-control" name="" value="2016-04-19">
                            </div>

                            <div class="col-md-4 btnf2">
                                <button class="btn btn-default">Subir archivo</button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4  col-xs-10">
                                <label for="" class="labelfor">Lista de chequeo</label>
                            </div>
                        </div>

                        <div class="row" *ngFor="let item of datachequeo">
                            <div class="col-md-6  col-xs-10">
                                <input type="checkbox"> {{item.Chequeos.Nombre}}
                            </div>
                        </div>



                        <!--<div class="row">
                            <div class="col-md-8">
                                <label for="" class="labelfor">Actividad</label>
                                <textarea name="" id="" cols="30" rows="8" class="form-control">Mediante correo electronico se allega información catastral para así poder determinar la competencia, requerida a Isa</textarea>
                            </div>
                        </div>-->

                        <div class="row">
                            <div class="col-md-8">
                                <label for="" class="labelfor">Historia</label>
                                <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-11 col-xs-11">
                                <label class="labelfor" for="">Agendar actividad</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <select name="" id="" class="form-control">
                               <option value="">Inspección judicial</option>
                            </select>
                            </div>

                            <div class="col-md-1">
                                <button class="btn btn-default" (click)="InputVisible = true">+</button>
                            </div>

                            <div class="col-md-3">
                                <input type="date" #Fecha class="form-control" name="Date">
                            </div>

                            <div class="col-md-3">
                                <button class="btn btn-default" (click)="SaveDocumentActivity('Edward Elric', Actividad.value, Fecha.value)">Agendar</button>
                            </div>

                        </div>

                        <div class="row" [hidden]="!InputVisible">
                            <div class="col-md-6">
                                <label for="" class="labelfor">Agregar actividad</label>
                                <input type="text" class="form-control" #Actividad />
                            </div>
                        </div>

                        <div class="row tableC">
                            <div class="col-md-8 col-xs-9">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-body">
                                        <table class="table table-striped table-bordered table-list">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th class="hidden-xs">Actividad</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of DataDocument">
                                                    <td>{{item.nombre}}</td>
                                                    <td>{{item.actividad}}</td>
                                                    <td>{{item.fecha}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row btnf">
                            <div class="col-md-4  col-xs-10">
                                <button class="btn btn-success">Guardar</button>
                                <button class="btn btn-success">No aplica</button>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div bsModal #modalEtapas="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Etapas</h4>
                <button type="button" class="close pull-right" (click)="modalEtapas.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>{{ModalNombre}}</h1>
                    </div>
                </div>

                <div class="row presentacionf">
                    <div class="col-md-10 col-md-offset-1 col-xs-offset-1">
                        <div class="row">
                            <div class="col-md-4  col-xs-10">
                                <label for="" class="labelfor">Fecha</label>
                                <input type="date" class="form-control" name="" value="2016-04-19">
                            </div>

                            <div class="col-md-4 btnf2">
                                <button class="btn btn-default">Subir archivo</button>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <label for="" class="labelfor">Actividad</label>
                                <textarea id="" cols="25" rows="5" class="form-control" [(ngModel)]="PendientesObject.Actividad" name="Actividad"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <label for="" class="labelfor">Observación</label>
                                <textarea name="Observacion" id="" cols="25" rows="5" class="form-control" [(ngModel)]="PendientesObject.Observacion"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <label for="" class="labelfor"> Fecha de Recordatorio</label>
                                <input type="date" class="form-control" [(ngModel)]="PendientesObject.FechaRecordatorio" name="FechaRecordatorio">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-success" (click)="GuardarPendientes()">Guardar</button>

                            </div>
                        </div>


                        <div class="row" [hidden]="!InputVisible">
                            <div class="col-md-6">
                                <label for="" class="labelfor">Agregar actividad</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="row tableC">
                            <div class="col-md-10 col-xs-9">
                                <div class="panel panel-default panel-table">
                                    <div class="panel-body">
                                        <div class="row tableC">
                                            <div class="col-md-12 col-xs-9">
                                                <div class="panel panel-default panel-table">
                                                    <div class="panel-body">
                                                        <p-dataTable [value]="dataPendientes" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="dataPendientes"
                                                            selectionMode="single" (onRowSelect)="CargarProyectos($event.data)">
                                                            <p-column field="Observacion" header="Observación" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                            <p-column field="Actividad" header="Actividad" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                            <p-column field="FechaCreacion" header="Fecha de creación" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                            <p-column field="FechaRecordatorio" header="Fecha de recordatorio" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                                        </p-dataTable>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row btnf">
                            <div class="col-md-4  col-xs-10">
                                <button class="btn btn-success">Guardar</button>
                                <button class="btn btn-success">No aplica</button>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--modal documentos-->


<!--MODAL proyectos -->

<div class="modal fade" bsModal #Proyectos="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Proyectos </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="Proyectos.hide()">
                               <span aria-hidden="true">&times;</span>
                                  </button>
            </div>
            <div class="modal-body">

                <div class="row tableC">
                    <div class="col-md-12 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <p-dataTable [value]="DataProyectos" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataProyectos"
                                    selectionMode="single" (onRowSelect)="CargarProyectos($event.data)">
                                    <p-column field="Contrato" header="Contrato" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="NombreProyecto" header="Proyecto" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Interventor" header="Interventor" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Representador" header="Representador" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" bsModal #DemandanteDocumento="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Demandante </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="DemandanteDocumento.hide()">
                               <span aria-hidden="true">&times;</span>
                                  </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-12 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <p-dataTable [value]="DataCustomer" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataProyectos"
                                    selectionMode="single" (onRowSelect)="CargarDemandante($event.data)">
                                    <p-column field="NumeroIdentidad" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Nombre" header="Nombre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Correo" header="Correo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Direccion" header="Dirección" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #DemandadoModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Demandado </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="DemandadoModal.hide()">
                               <span aria-hidden="true">&times;</span>
                                  </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-12 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <p-dataTable [value]="DataCustomer" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataProyectos"
                                    selectionMode="single" (onRowSelect)="CargarDemandado($event.data)">
                                    <p-column field="NumeroIdentidad" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Nombre" header="Nombre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Correo" header="Correo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Direccion" header="Dirección" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" bsModal #ResponsableModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Responsable </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="ResponsableModal.hide()">
                               <span aria-hidden="true">&times;</span>
                                  </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-12 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <p-dataTable [value]="datausuarios" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataProyectos"
                                    selectionMode="single" (onRowSelect)="CargarResponsable($event.data)">
                                    <p-column field="Nombre" header="Nombre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Apellido" header="Apellidos" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Documento" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Cargo" header="Cargo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" bsModal #ResponsableSucesor="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Responsable </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="ResponsableSucesor.hide()">
                               <span aria-hidden="true">&times;</span>
                                  </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-12 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <p-dataTable [value]="datausuarios" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataProyectos"
                                    selectionMode="single" (onRowSelect)="CargarResponsableSucesor($event.data)">
                                    <p-column field="Nombre" header="Nombre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Apellido" header="Apellidos" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Documento" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                    <p-column field="Cargo" header="Cargo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>