<h1> Reporte de responsable</h1>



<div class="row tableC">
    <div class="col-md-9 col-md-offset-2">
        <div class="row">
            <div class="col-md-offset-1"> 
               
        <div class="panel panel-default panel-table">
            <div class="panel-body">
                <p-dataTable [value]="dataActividades" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DatosGrupos"
                    selectionMode="single" (onRowSelect)="CargarDatos($event.data)">
                    <p-column field="NombreCliente" header="Nombre cliente" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Contrato" header="Contrato" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Proyecto" header="Proyecto" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Cproceso" header="Código" [filter]="true" filterPlaceholder="Buscar"></p-column>                    
                    <p-column field="MunicipioP" header="Municipio" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="JuzgadoF" header="Juzgado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Radicado" header="Radicado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Demandante" header="Demandante" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Demandado" header="Demandado" [filter]="true" filterPlaceholder="Buscar"></p-column>                    
                    <p-column field="Estadoprocesal" header="Estadoprocesal" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Fechapendiente" header="Activo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    
                </p-dataTable>
               
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>


