<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<h1>Proyecto</h1>



<form #Users="ngForm">
    <div class="row usersf">
        <div class="col-md-8 col-md-offset-3 col-xs-offset-1">
            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Contrato</label>
                    <input type="text" class="form-control" [(ngModel)]="ContratoObject.Contrato" name="Contrato">
                </div>
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Descripción del contrato</label>
                    <input type="text" class="form-control" [(ngModel)]="ContratoObject.Descripcion" name="Descripcion">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Documento del cliente</label>
                    <select name="" id="" class="form-control" [(ngModel)]="ContratoObject.IdPersona" name="IdPersona">
                    <option value="">Seleccione el documento</option>
                    <option [value]="item.IdPersona" *ngFor="let item of datacliente">{{item.NumeroIdentidad}} - {{item.Nombre}}</option>

        </select>
                </div>
                <div class="col-md-2 crear">
                    <button class="btn btn-default">Crear</button>
                </div>
            </div>


            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" *ngIf="BotonActualizar==false" (click)="GuardarContrato()">Guardar</button>
                    <button class="btn btn-default" *ngIf="BotonActualizar==false" (click)="CancelarContrato()">Cancelar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" *ngIf="BotonActualizar==true" (click)="ActualizarContrato()">Actualizar</button>
                    <button class="btn btn-default" *ngIf="BotonActualizar==true" (click)="CancelarContrato2()">Cancelar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="" class="labelfor">Contrato x cliente</label>
                </div>
            </div>


            <div class="row tableC">
                <div class="col-md-7 col-xs-9">
                    <div class="panel panel-default panel-table">
                        <div class="panel-body">

                            <p-dataTable [value]="DatosContratos" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DatosContratos"
                                selectionMode="single" (onRowSelect)="CargarContrato($event.data)">
                                <p-column field="Contrato" header="Contrato" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column field="Descripcion" header="Descripción" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column field="NumeroIdentidad" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            </p-dataTable>
                            <!--<table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>

                                        <th><em class="fa fa-cog"></em></th>
                                        <th>Contrato</th>
                                        <th>Descripción</th>
                                        <th>Documento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of datacontrato">
                                        <td> <a class="btn btn-default" (click)="CargarContrato(item.IdPersona,item.Contrato,item.Descripcion,item.IdContrato)"><span class="fa fa-pencil"></span></a></td>
                                        <td>{{item.Contrato}}</td>
                                        <td>{{item.Descripcion}}</td>
                                        <td>{{item.NumeroIdentidad}}</td>
                                    </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Contrato</label>
                    <select class="form-control" [(ngModel)]="ProyectoObject.IdContratos" name="IdContratos">
                        <option value="">Seleccione un contrato</option>
                    <option [value]="item.IdContrato" *ngFor="let item of datacontratoproyecto">{{item.Contrato}}</option>
                        
                    </select>

                </div>

                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Nombre del proyecto</label>
                    <input type="text" class="form-control" [(ngModel)]="ProyectoObject.NombreProyecto" name="NombreProyecto">
                </div>

                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Interventor</label>
                    <input type="text" class="form-control" [(ngModel)]="ProyectoObject.Interventor" name="Interventor">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4  col-xs-10">
                    <label for="" class="labelfor">Representador</label>
                    <input type="text" class="form-control" [(ngModel)]="ProyectoObject.Representador" name="Representador">
                </div>
            </div>

            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" *ngIf="BotonActualizar==false" (click)="GuardarProyecto()">Guardar</button>
                    <button class="btn btn-default" *ngIf="BotonActualizar==false" (click)="cancelarproyecto()">Cancelar</button>
                </div>
            </div>

            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" *ngIf="BotonActualizar==true" (click)="ActualizarProyecto()">Actualizar</button>
                    <button class="btn btn-default" *ngIf="BotonActualizar==true" (click)="cancelarproyecto2()">Cancelar</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="" class="labelfor">Contrato x proyecto</label>
                </div>
            </div>

            <div class="row tableC">
                <div class="col-md-7 col-xs-9">
                    <div class="panel panel-default panel-table">
                        <div class="panel-body">

                            <p-dataTable [value]="DataProyectos" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataProyectos"
                                selectionMode="single" (onRowSelect)="CargarProyecto($event.data)">
                                <p-column field="Contrato" header="Contrato" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column field="NombreProyecto" header="Proyecto" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column field="Interventor" header="Interventor" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                <p-column field="Representador" header="Representador" [filter]="true" filterPlaceholder="Buscar"></p-column>
                            </p-dataTable>
                            <!--<table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>

                                        <th><em class="fa fa-cog"></em></th>
                                        <th>Contrato</th>
                                        <th>Proyecto</th>
                                        <th>Interventor</th>
                                        <th>Representador</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dataproyectos">
                                        <td><a class="btn btn-default" (click)="CargarProyecto(item.IdContratos,item.NombreProyecto,item.Interventor,item.Representador,item.IdProyectos)"><span class="fa fa-pencil"></span></a>
                                            <a class="btn btn-danger hidden-xs"><em class="fa fa-trash"></em></a></td>
                                        <td>{{item.Contrato}}</td>
                                        <td>{{item.NombreProyecto}}</td>
                                        <td>{{item.Interventor}}</td>
                                        <td>{{item.Representador}}</td>


                                    </tr>

                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</form>