<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<h1>Etapas del proceso</h1>



<form #Users ="ngForm">
<div class="row usersf">
<div class="col-md-8 col-md-offset-4 col-xs-offset-1">
<div class="row">
    <div class="col-md-10  col-xs-10">
      
        <div class="arrow">
        <div class="st">
            <label for="">1</label>            
        </div>
        <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
        
        <div class="arrow">
        <div class="st">
            <label for="">2</label>            
        </div>
        <span class="glyphicon glyphicon-arrow-right"></span>
        </div>

        <div class="arrow">
        <div class="st st1">
            <label for="">3</label>            
        </div>
        <span class="glyphicon glyphicon-arrow-right"></span>
        </div>

        <div class="arrow">
        <div class="st">
            <label for="">4</label>            
        </div>
        </div>

    </div>
    <div class="col-md-4  col-xs-10">
    <h3> Etapa 3</h3>
    </div>
</div>


<div class="row">
    <div class="col-md-3  col-xs-10">
        <h4>Traslado de la demanda</h4>
    </div>

    <div class="col-md-4  col-xs-10">
        <h4>Parte: xxxxx</h4>
    </div>
</div>

<div class="text-step">
    ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
</div>


<div class="row">
    <div class="col-md-4  col-xs-10">
        <label for="" class="labelfor"> Fecha:</label>
        <input type="date" class="form-control">
    </div>

    <div class="col-md-4 col-xs-10 file">
        <a href="">Subir archivo</a>
    </div>
</div>

<div class="row">
    <div class="col-md-7  col-xs-10">
        <label for="" class="labelfor"> Observaciones:</label>
        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
    </div>
</div>

<div class="row btnf">
    <div class="col-md-3  col-xs-10">
        <button class="btn btn-success">Aplica</button>
        <button class="btn btn-default">No aplica</button>        
    </div>
</div>

</div>
</div>
</form>