<div class="row">
    <div class="col-md-4 col-md-offset-6">
        <h1>Juzgado</h1>
    </div>
</div>


<div class="row usersf">
    <div class="col-md-1 col-md-offset-4 col-xs-offset-1">
        <label for="" class="labelfor">Distrito *</label>
    </div>
    <div class="col-md-4">
        <select name="IdDistrito" id="" class="form-control" #DistritoSelect [(ngModel)]="CircuitoObject.IdDistrito" (change)="ConsultarCircuitoXDistrito($event.target.value)">
            <option value="" selected>Seleccione un distrito</option>
            <option *ngFor="let item of datadistritocircuito" [value]="item.IdDistrito">{{item.Nombre}}</option>
        </select>
    </div>
    <div>
        <button class="btn btn-default" (click)="Distrito.show();">ver</button>
    </div>
</div>

<br>

<div class="row usersf">
    <div class="col-md-1 col-md-offset-4 col-xs-offset-1">
        <label for="" class="labelfor">Circuito *</label>
    </div>
    <div class="col-md-4">
        <select name="IdCircuito" id="" class="form-control" #Circuito [(ngModel)]="MunicipioObject.IdCircuito" (change)="ConsultarMunicipioXCircuito($event.target.value)">
            <option value="" selected>Seleccione un circuito</option>
            <option [value]="item.IdCircuito" *ngFor="let item of datacircuitoxdistrito">{{item.Nombre}}</option>
        </select>
    </div>
    <div>
        <button class="btn btn-default" (click)="Circuito.show();">ver</button>
    </div>
</div>


<br>
<div class="row usersf">
    <div class="col-md-1 col-md-offset-4 col-xs-offset-1">
        <label for="" class="labelfor">Municipio *</label>
    </div>
    <div class="col-md-4">
        <select name="IdMunicipio" id="" [(ngModel)]="JuzgadosObjecto.IdMunicipio" class="form-control">
            <option value="">Seleccione un municipio</option>
            <option [value]="item.IdMunicipio" *ngFor="let item of datamunicipioxcircuito">{{item.Nombre}}</option>
        </select>
    </div>
    <div>
        <button class="btn btn-default" (click)="Municipio.show();">ver</button>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-1 col-md-offset-4">
        <label for="">Juzgado *</label>
    </div>
    <div class="col-md-2 btnmas">
        <button class="btn btn-default" (click)="Juzgado.show();">+</button>
    </div>
</div>



<div class="row tableC">
    <div class="col-md-7 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">


                <p-dataTable [value]="DataJuzgado" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="DataJuzgado" selectionMode="single"
                    (onRowSelect)="LlevarDatosJuzgado($event.data)">
                    <p-column field="Nombre" header="Naturaleza" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Juez" header="Juez" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Juzgado1" header="Juzgado" [filter]="true" filterPlaceholder="Buscar"></p-column>
                </p-dataTable>
                <!--<table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th><em class="fa fa-cog"></em></th>
                            <th>Nautraleza</th>
                            <th>Juez</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datatipojuzgado">
                            <td align="center">
                                <a class="btn btn-default" (click)="LlevarDatosJuzgado(item.IdMunicipio,item.Circuito,item.IdNaturaleza,item.Juez,item.Juzgado1,item.IdJuzgado);Juzgado.show();"><span class="fa fa-pencil"></span></a>
                            </td>
                            <td class="">{{item.Nombre}}</td>
                            <td>{{item.Juez}}</td>
                            <td>{{item.Juzgado1}}</td>
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
</div>

<!--modal distrito-->

<div class="modal fade" bsModal #Distrito="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Distritos </h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="Distrito.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-8 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">

                                <p-dataTable [value]="datadistrito" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="datadistrito" selectionMode="single"
                                    (onRowSelect)="CargarDistrito($event.data)">
                                    <p-column field="Nombre" header="Distrito" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                                <!--<table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>

                                            <th><em class="fa fa-cog"></em></th>
                                            <th>Distrito</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of datadistrito">
                                            <td align="center">
                                                <a class="btn btn-default" (click)="CargarDistrito(item.Nombre,item.IdDistrito)"><span class="fa fa-pencil"></span></a>
                                            </td>
                                            <td class="">{{item.Nombre}}</td>
                                        </tr>
                                    </tbody>
                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Nuevo distrito</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <input type="text" class="form-control" [(ngModel)]="DistritoObject.Nombre" name="Nombre">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==false" (click)="GuardarDistrito()">Agregar</button>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==true" (click)=ActualizarDistrito()>Actualizar</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" *ngIf="BotonActualizar==true" (click)="cancelarDistrito()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--modal circuito-->

<div class="modal fade" bsModal #Circuito="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Circuito</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="Circuito.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-8 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">


                                <p-dataTable [value]="datacircuitoscon" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="datacircuitoscon"
                                    selectionMode="single" (onRowSelect)="CargarCircuito($event.data)">
                                    <p-column field="Nombre" header="Circuito" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                                <!--<table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>

                                            <th><em class="fa fa-cog"></em></th>
                                            <th>Circuito</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of datacircuitoscon">
                                            <td align="center">
                                                <a class="btn btn-default" (click)="CargarCircuito(item.Nombre,item.IdDistrito,item.IdCircuito)"><span class="fa fa-pencil"></span></a>
                                            </td>
                                            <td class="">{{item.Nombre}}</td>
                                        </tr>
                                    </tbody>
                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Distrito</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <select name="IdDistrito" [(ngModel)]="CircuitoObject.IdDistrito" id="" class="form-control">
                            <option value="">Seleccione un distrito</option>
                            <option *ngFor="let item of datadistritocircuito" [value]="item.IdDistrito">{{item.Nombre}}</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Nuevo Circuito</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <input type="text" class="form-control" name="Nombre" [(ngModel)]="CircuitoObject.Nombre">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==false" (click)="GuardarCircuito()">Agregar</button>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==true" (click)=ActualizarCircuito()>Actualizar</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" *ngIf="BotonActualizar==true" (click)="cancelarCircuito()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--modal Municipio-->

<div class="modal fade" bsModal #Municipio="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Municipio</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="Municipio.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row tableC">
                    <div class="col-md-8 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">

                                <p-dataTable [value]="datamunucipio" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="datamunucipio"
                                    selectionMode="single" (onRowSelect)="CargarMunicipio($event.data)">
                                    <p-column field="Nombre" header="Municipio" [filter]="true" filterPlaceholder="Buscar"></p-column>
                                </p-dataTable>
                                <!--<table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>

                                            <th><em class="fa fa-cog"></em></th>
                                            <th>Municipio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of datamunucipio">
                                            <td align="center">
                                                <a class="btn btn-default" (click)="CargarMunicipio(item.IdCircuito,item.Nombre,item.IdMunicipio)"><span class="fa fa-pencil"></span></a>
                                            </td>
                                            <td class="">{{item.Nombre}}</td>
                                        </tr>
                                    </tbody>
                                </table>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Circuito</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <select name="IdCircuito" id="" class="form-control" [(ngModel)]="MunicipioObject.IdCircuito">
                            <option value="">Seleccione un circuito</option>
                            <option *ngFor="let item of datacircuitos" [value]="item.IdCircuito">{{item.Nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Nuevo municipio</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <input type="text" class="form-control" name="Municipio" [(ngModel)]="MunicipioObject.Municipio">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==false" (click)="GuardarMunicipio()">Agregar</button>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==true" (click)=ActualizarMunicipio()>Actualizar</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" *ngIf="BotonActualizar==true" (click)="cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--modal Municipio-->

<div class="modal fade" bsModal #Juzgado="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Juzgado</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="Juzgado.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Naturaleza</label>
                        <select class="form-control" [(ngModel)]="JuzgadosObjecto.IdNaturaleza" name="IdNaturaleza">
                            <option value="">Seleccione una naturaleza</option>
                            <option *ngFor="let item of datanaturaleza" [value]="item.IdNaturaleza">{{item.Nombre}}</option>                            
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Juez *</label>
                        <input type="text" class="form-control" [(ngModel)]=JuzgadosObjecto.Juez name="Juez">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <label for="">Nombre *</label>
                        <input type="text" class="form-control" [(ngModel)]="JuzgadosObjecto.Descripcion" name="Descripcion">
                    </div>
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-md-6 col-md-offset-2">
                        <input type="checkbox" [(ngModel)]="JuzgadosObjecto.Circuito" name="Circuito"> Es un circuito
                    </div>

                </div>
                <br>

                <div class="row">
                    <div class="col-md-2 col-md-offset-2 col-xs-9 col-xs-offset-1">
                        <button class="btn btn-success" *ngIf="BotonActualizar==false" (click)="GuardarJuzgado(DistritoSelect,Circuito)">Guardar</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-success" *ngIf="BotonActualizar==true" (click)=ActualizarJuzgado()>Actualizar</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default" *ngIf="BotonActualizar==true" (click)="cancelarJuzgado()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>