<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <tabset>
            <tab heading="Actividades">


                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h1>Tipo de proceso</h1>
                    </div>
                </div>



                <form #Typeprocess="ngForm">
                    <div class="row typef">
                        <div class="col-md-8 col-md-offset-2 col-xs-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="" class="labelfor">Seleccione el Tipo de proceso</label>
                                </div>

                                <div class="col-md-7  col-xs-10">
                                    <select name="IdTiposProcesos" id="" class="form-control" [(ngModel)]="EstadosTipoObject.IdTiposProcesos" (change)="tipoProceso=$event.target.value;buscarEstadosTipos()">
                                    <option value="">Seleccione un tipo de proceso</option>
                                    <option *ngFor="let item of DataTypeProcess" [value]="item.IdTiposProcesos">{{item.Nombre}}</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-default" (click)="AgregarProceso=true">+</button>
                                </div>



                                <!--<div class="col-md-7  col-xs-10">
                                    <input type="text" class="form-control" [(ngModel)]="TypeProcessObject.ProcessName" name="ProcessName">
                                </div>-->
                            </div>

                            <div class="row" *ngIf="AgregarProceso == true">
                                <div class="col-md-4">
                                    <label for="" class="labelfor">Agregar Tipo de proceso</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" [(ngModel)]="TypeProcessObject.Nombre" name="Nombre" class="form-control">
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success" (click)="SaveTypeProcess()">Agregar</button>
                                </div>
                                <div class="col-md-1 ">
                                    <button class="btn btn-default"  (click)="CancelarTipo()">Cancelar</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="labelst">Proceso de etapas procesales</label>
                                </div>
                            </div>

                            <div class="row rowtype">
                                <div class="col-md-4">
                                    <label for="" class="labelfor">Agregar etapa</label>
                                </div>

                                <div class="col-md-7  col-xs-10">
                                    <input id="" [(ngModel)]="EtapaProcesalObject.Nombre" name="Nombre" class="form-control">
                                </div>
                            </div>

                            <div class="row rowtype">
                                <div class="col-md-4">
                                    <label for="" class="labelfor">términos</label>
                                </div>

                                <div class="col-md-7  col-xs-10">
                                    <input id="" class="form-control" [(ngModel)]="EtapaProcesalObject.Terminos" name="Terminos">
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-default" (click)="SaveEtapasProcesales()">+</button>
                                </div>
                            </div>
                            <div class="row" *ngIf="BotonActualizar">
                                <div class="col-md-2 ">
                                    <button class="btn btn-success"  (click)="UpdateEtapas()">Actualizar</button>
                                </div>
                                <div class="col-md-1 cancel">
                                    <button class="btn btn-default" (click)="CancelarEstado()">Cancelar</button>
                                </div>
                            </div>
                            <!--<div class="row rowtype" *ngFor="let item of EtapaProcesalObject.StageProcess;let i=index;">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-7  col-xs-10">
                                    <input id="" class="form-control" [value]="item" disabled>
                                </div>
                                <div class="col-md-1">
                                    <button class="btn btn-default" (click)="EliminarEtapa(i)">-</button>
                                </div>
                            </div>-->




                            <div class="row">
                                <div class="col-md-11 col-xs-11">
                                    <label class="labelfor liste" for="">Lista de etapas procesales</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>



                <div class="row tableC ">
                    <div class="col-md-8 col-md-offset-2 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>
                                            <th>Modificar</th>
                                            <th>Etapa</th>
                                            <th>Términos</th>
                                            <th>Prioridad</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let item of DataEstados; let i=index">
                                            <td align="center">
                                                <a class="btn btn-default" (click)="BotonActualizar = true; CargarEstados(item.nombre,item.termino,item.IdEstados)"><span class="fa fa-pencil"></span></a>
                                            </td>
                                            <td>
                                                <input type="checkbox" *ngIf="item.checked && item.IdEstados == 1" checked [value]="item.IdEstados" (change)="ChangeEstadosTipo($event, i)"> 
                                                <input type="checkbox" *ngIf="!item.checked && item.IdEstados == 1" [value]="item.IdEstados" (change)="ChangeEstadosTipo($event,i)"> 

                                                <input type="checkbox" *ngIf="(item.checked) && (item.IdEstados != 1) && (recibodocumentos == true)" checked [value]="item.IdEstados" (change)="ChangeEstadosTipo($event,i)"> 
                                                <input type="checkbox" *ngIf="(item.checked) && (item.IdEstados != 1) && (recibodocumentos != true)" checked [value]="item.IdEstados" (change)="ChangeEstadosTipo($event,i)"> 
                                                <input type="checkbox" *ngIf="(!item.checked) && (item.IdEstados != 1) && (recibodocumentos == true)" [value]="item.IdEstados" (change)="ChangeEstadosTipo($event,i)"> 
                                                <input type="checkbox" *ngIf="(!item.checked) && (item.IdEstados != 1) && (recibodocumentos == false)" disabled> 
                                                {{item.nombre}}
                                            </td>
                                            <td>{{item.termino}}</td>
                                            <td>{{item.Prioridad}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row btnf">
                    <div class="col-md-4 col-md-offset-2  col-xs-10">
                        <button class="btn btn-success" *ngIf="cargando==false" (click)="GuardarEstadosTipo()">Guardar</button>
                        <button class="btn btn-success" *ngIf="cargando==true" disabled>Guardando</button>                        
                        <!--<button class="btn btn-default" >Cancelar</button>-->

                    </div>
                </div>

            </tab>
            <tab heading="Campos">


                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h1>Campos</h1>
                    </div>
                </div>

                <form #TypeprocessCampos="ngForm">
                    <div class="row typef">
                        <div class="col-md-8 col-md-offset-2 col-xs-offset-1">

                            <div class="row rowtype">
                                <div class="col-md-2">
                                    <label for="" class="labelfor">Tipo de proceso</label>
                                </div>

                                <div class="col-md-7  col-xs-10">
                                    <select name="IdTiposProcesos" id="" class="form-control" [(ngModel)]="camposObject.IdTiposProcesos" (change)="tipoProceso=$event.target.value;BuscarCamposTipo()">
                                    <option value="">Seleccione un tipo de proceso</option>
                                    <option *ngFor="let item of DataTypeProcess" [value]="item.IdTiposProcesos">{{item.Nombre}}</option>
                                    </select>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-11 col-xs-11">
                                    <label class="labelfor" for="">Seleccione los campos que desea agregar</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row tableC">
                    <div class="col-md-8 col-md-offset-2 col-xs-9">
                        <div class="panel panel-default panel-table">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-list">
                                    <thead>
                                        <tr>
                                            <th>Sel</th>
                                            <th class="hidden-xs">Nombre de la actividad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of DataCampos">
                                            <td>                                            
                                                <input type="checkbox" name="" *ngIf="item.checked" checked [value]="item.IdCampos" (change)="ChangeCampo($event)">
                                                <input type="checkbox" name="" *ngIf="!item.checked" [value]="item.IdCampos" (change)="ChangeCampo($event)">
                                                </td>                                            
                                            <td>{{item.Nombre}}</td>
                                        </tr>

                                        <!--<tr *ngFor="let item of DataCampos.Data">
                                            <td align="center">
                                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                                <a class="btn btn-danger hidden-xs"><em class="fa fa-trash"></em></a>
                                            </td>
                                            <td>{{}}</td>
                                            <td class="hidden-xs">{{item.Campos}}</td>


                                        </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row btnf">
                    <div class="col-md-4 col-md-offset-2  col-xs-10">
                        <button class="btn btn-success" *ngIf="cargando==false" (click)="SaveCampos()">Guardar</button>
                        <button class="btn btn-success" *ngIf="cargando==true" disabled >Guardando</button>                        
                        <!--<button class="btn btn-default">Cancelar</button>-->

                    </div>
                </div>

            </tab>
            <tab heading="Lista de chequeo">

                <form #listachequeo="ngForm">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <h1>Lista de chequeo</h1>
                        </div>
                    </div>
                    <div class="row rowtype">
                        <div class="col-md-2 col-md-offset-2">
                            <label for="" class="labelfor">Tipo de proceso</label>
                        </div>


                        <div class="col-md-5  col-xs-10">
                            <select name="IdTiposProcesos" id="" class="form-control" [(ngModel)]="ChequeoTiposProcesosObject.IdTiposProcesos" (change)="tipoProceso=$event.target.value;BuscarChequeo($event.target.value)">
                            <option value="">Seleccione un tipo de proceso</option>
                            <option *ngFor="let item of DataTypeProcess" [value]="item.IdTiposProcesos">{{item.Nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row rowtype">
                        <div class="col-md-2 col-md-offset-2">
                            <label for="" class="labelfor">Agregar chequeo</label>
                        </div>
                        <div class="col-md-3  col-xs-10">
                            <input type="text" class="form-control" [(ngModel)]="ListachequeoObject.Nombre" name="Nombre ">
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-success" *ngIf="BotonActualizar == false" (click)="SaveListaChequeo()">Agregar</button>
                            <button class="btn btn-success" *ngIf="BotonActualizar == true" (click)="UpdateListasChequeo()">Modificar</button>
                        </div>
                        <div class="col-md-1 cancel">
                            <button class="btn btn-default" *ngIf="BotonActualizar == true" (click)="CancelarChequeo()">Cancelar</button>
                        </div>
                    </div>

                    <div class="row">

                    </div>


                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <label for="" class="labelst">Lista de chequeo</label>
                        </div>
                    </div>

                    <div class="row tableC">
                        <div class="col-md-8 col-md-offset-2 col-xs-9">
                            <div class="panel panel-default panel-table">
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-list">
                                        <thead>
                                            <tr>
                                                <th>Modificar</th>
                                                <th>Sel</th>
                                                <th class="hidden-xs">Nombre de la actividad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor=" let item of DataChequeo">
                                                <td align="center">
                                                    <a class="btn btn-default" (click)="CargarChequeo(item.Nombre, item.IdChequeo) "><span class="fa fa-pencil"></span></a>
                                                </td>
                                                <td><input type="checkbox" name="" *ngIf="item.checked" checked [value]="item.IdChequeo" (change)="ChangeChequeo($event)">
                                                <input type="checkbox" name="" *ngIf="!item.checked" [value]="item.IdChequeo" (change)="ChangeChequeo($event)"></td>
                                                <td>{{item.Nombre}}</td>
                                            </tr>

                                            <!--<tr *ngFor="let item of DataCampos.Data">
                                            <td align="center">
                                                <a class="btn btn-default"><span class="fa fa-pencil"></span></a>
                                                <a class="btn btn-danger hidden-xs"><em class="fa fa-trash"></em></a>
                                            </td>
                                            <td>{{}}</td>
                                            <td class="hidden-xs">{{item.Campos}}</td>


                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-2">
                            <button class="btn btn-success" *ngIf="cargando==false" (click)="ChequeoTiposProcesos()">Guardar</button>
                            <button class="btn btn-success" *ngIf="cargando==true" disabled >Guardarndo</button>
                            
                           
                            
                        </div>
                    </div>

                </form>
            </tab>
        </tabset>
    </div>
</div>