<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>


<div class="row">
    <div class="col-md-4 col-md-offset-6">
        <h1>Usuarios</h1>
    </div>
</div>

<form #Users="ngForm">
    <div class="row usersf">
        <div class="col-md-9 col-md-offset-3 col-xs-offset-1">
            <div class="row">
                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Nombre *</label>
                    <input type="text" class="form-control" [(ngModel)]="UsersObject.Nombre" name="Nombre" required>
                </div>
                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Apellidos *</label>
                    <input type="text" class="form-control" [(ngModel)]="UsersObject.Apellidos" name="Apellido" required>
                </div>

                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Documento *</label>
                    <input type="text" class="form-control" [(ngModel)]="UsersObject.Documentos" name="Documento" required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Cargo *</label>
                    <input type="text" class="form-control" [(ngModel)]="UsersObject.Cargo" name="Cargo" required>
                </div>

                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Correo electrónico *</label>
                    <input type="text" class="form-control" [(ngModel)]="UsersObject.CorreoElectronico" name="CorreoElectronico" required>
                </div>

                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Contraseña *</label>
                    <input type="password" class="form-control" [(ngModel)]="UsersObject.Password" name="Password" required>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Confirmar Contraseña *</label>
                    <input type="password" class="form-control" [(ngModel)]="UsersObject.ConfirmPassword" name="ConfirmPassword" required>
                </div>

                <div class="col-md-3  col-xs-10">
                    <label for="" class="labelfor">Rol *</label>
                    <select class="form-control" id="" [(ngModel)]="UsersObject.IdRol" name="IdRol" required>
            <option value="">Seleccione un rol</option>
            <option  value="1">Abogado IGGA</option>
            
        </select>
                </div>
            </div>

            <div class="row btnf">
                <div class="col-md-3  col-xs-10">
                    <button class="btn btn-success" *ngIf="BotonActualizar == false" (click)="SaveUsers()">Guardar</button>
                    <button class="btn btn-success" *ngIf="BotonActualizar == true" (click)="UpdateUsers()">Actualizar</button>
                    <button class="btn btn-default" (click)="Cancelar()">Cancelar</button>


                </div>
            </div>

        </div>
    </div>
</form>


<div class="row tableC">
    <div class="col-md-7 col-md-offset-3 col-xs-9 col-xs-offset-1">
        <div class="panel panel-default panel-table">
            <div class="panel-body">

                <p-dataTable [value]="DataUsers" [rows]="5" [paginator]="true" [globalFilter]="gb" #dt exportFilename="dataUsers" selectionMode="single" (onRowSelect)="CargarUsuario($event.data)">
                    <p-column field="Nombre" header="Nombre" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Apellido" header="Apellidos" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Documento" header="Documento" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="Cargo" header="Cargo" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="CorreoElectronico" header="Correo Electronico" [filter]="true" filterPlaceholder="Buscar"></p-column>
                    <p-column field="IdRol" header="Id Rol" [filter]="true" filterPlaceholder="Buscar"></p-column>
                </p-dataTable>


                <!--<table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>

                            <th><em class="fa fa-cog"></em></th>
                            <th>Nombre</th>
                            <th class="hidden-xs">Apellidos</th>
                            <th>Documento</th>
                            <th>Cargo</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of DataUsers">
                            <td align="center">
                                <a class="btn btn-default" (click)="CargarUsuario(item.Nombre, item.Apellido, item.Documento, item.Cargo, item.CorreoElectronico, item.Password, item.IdRol,item.IdUsuario)"><span class="fa fa-pencil"></span></a>
                            </td>
                            <td>{{item.Nombre}}</td>
                            <td class="hidden-xs">{{item.Apellido}}</td>
                            <td>{{item.Documento}}</td>
                            <td>{{item.Cargo}}</td>
                            <td>{{item.CorreoElectronico}}</td>

                        <td>{{item.IdRol}}</td>                       
                            <td>Abogado IGGA</td>                       
                        </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
</div>